@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  background-image: url('/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.heading {
  text-align: center;
  font-size: 40px;
}
